.main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image {
    width: 50vw;
    height: 100vh;
}

.LogIn {
    width: 40vw;
    height: 80vh;
    border: 0.5vmin solid black;
    border-radius: 1vmin;
    box-shadow: 0px 0px 4px black;
    margin-left: 4.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.email {
    display: flex;
    flex-direction: column;
}

.email p {
    font-size: 3vmin;
    font-weight: 600;
}

.email input {
    width: 30vw;
    height: 5vh;
    border: 0.4vmin solid black;
    border-radius: 1vmin;
    padding: 0.5vmin 3vmin;
    font-size: 2vmin;
}

.emailError, .passError{
    border: 0.1vmin solid red;
    background-color: white;
    color: red;
    text-align: center;
    padding: 1vmin;
    margin-top: 0.5vmin;
    border-radius: 1vmin;
    display: none;
}

.Password {
    display: flex;
    flex-direction: column;
}

.Password p {
    font-size: 3vmin;
    font-weight: 600;
}

.Password input {
    width: 30vw;
    height: 5vh;
    border: 0.4vmin solid black;
    border-radius: 1vmin;
    padding: 0.5vmin 3vmin;
    font-size: 2vmin;
}

button {
    width: 30vw;
    height: 8vh;
    background-color: rgb(17, 16, 16);
    color: white;
    border: none;
    border-radius: 2vmin;
    font-size: 3vmin;
}

button:hover {
    cursor: pointer;
    opacity: 95%;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5vmin;
}

.account a {
    margin-left: 1vmin;
    color: black;
}

.account a:hover {
    opacity: 80%;
}

@media screen and (max-width: 520px) {
    .LogIn {
        height: 50vh;
        width: 90vw;
        margin: 16vh 5vw;
    }    
}